<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="index3.html" class="brand-link">
    <img
      src="/adminlte/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">DM Decision Tree</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column nav-legacy nav-flat"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              1R
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/discretize-range" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Discretize Range
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
